__pycache__/
.DS_Store
.venv/
pytesseract/
Files/.env
Files/Qt/
.vscode/
runs/detect/predict/labels/81709.txt
runs/detect/predict/labels/489405.txt
runs/detect/predict/labels/511797.txt
runs/detect/predict/labels/538870.txt
runs/detect/predict/labels/882164.txt
runs/detect/predict/labels/887410.txt
runs/detect/predict/labels/948369.txt
runs/detect/predict/labels/1452785.txt
runs/detect/predict/labels/2012471.txt
runs/detect/predict/labels/2522774.txt
runs/detect/predict/labels/2604752.txt
runs/detect/predict/labels/3093504.txt
runs/detect/predict/labels/3149229.txt
runs/detect/predict/labels/3239312.txt
runs/detect/predict/labels/3715724.txt
runs/detect/predict/labels/3746206.txt
runs/detect/predict/labels/4543954.txt
runs/detect/predict/labels/6539118.txt
runs/detect/predict/labels/6577197.txt
runs/detect/predict/labels/6886516.txt
runs/detect/predict/labels/7020060.txt
runs/detect/predict/labels/7165755.txt
runs/detect/predict/labels/7874117.txt
runs/detect/predict/labels/7908673.txt
runs/detect/predict/labels/8034919.txt
runs/detect/predict/labels/8161129.txt
runs/detect/predict/labels/8475495.txt
runs/detect/predict/labels/8559236.txt
runs/detect/predict/labels/9009797.txt
runs/detect/predict/labels/9215041.txt
runs/detect/predict/labels/9249903.txt
runs/detect/predict/labels/9424128.txt
runs/detect/predict/labels/9852994.txt
runs/detect/predict/labels/10492915.txt
runs/detect/predict/labels/10760248.txt
runs/detect/predict/labels/10855567.txt
runs/detect/predict/labels/10990353.txt
runs/detect/predict/labels/11014113.txt
runs/detect/predict/labels/11243674.txt
runs/detect/predict/labels/11511907.txt
runs/detect/predict/labels/11542513.txt
runs/detect/predict/labels/11599398.txt
runs/detect/predict/labels/11628800.txt
runs/detect/predict/labels/11635360.txt
runs/detect/predict/labels/12102709.txt
runs/detect/predict/labels/12164417.txt
runs/detect/predict/labels/12465221.txt
runs/detect/predict/labels/12543848.txt
runs/detect/predict/labels/12586742.txt
runs/detect/predict/labels/13124119.txt
runs/detect/predict/labels/13258006.txt
runs/detect/predict/labels/13627126.txt
runs/detect/predict/labels/14166140.txt
runs/detect/predict/labels/14397910.txt
runs/detect/predict/labels/14563942.txt
runs/detect/predict/labels/14917893.txt
runs/detect/predict/labels/14967188.txt
runs/detect/predict/labels/15214600.txt
runs/detect/predict/labels/15475063.txt
runs/detect/predict/labels/15948043.txt
runs/detect/predict/labels/16509008.txt
runs/detect/predict/labels/16617813.txt
runs/detect/predict/labels/16883728.txt
runs/detect/predict/labels/16910817.txt
runs/detect/predict/labels/16948329.txt
runs/detect/predict/labels/16969484.txt
runs/detect/predict/labels/17196346.txt
runs/detect/predict/labels/17272601.txt
runs/detect/predict/labels/17293820.txt
runs/detect/predict/labels/17349309.txt
runs/detect/predict/labels/18662062.txt
runs/detect/predict/labels/19246144.txt
runs/detect/predict/labels/19614751.txt
runs/detect/predict/labels/19697888.txt
runs/detect/predict/labels/19729190.txt
runs/detect/predict/labels/19759832.txt
runs/detect/predict/labels/19777097.txt
runs/detect/predict/labels/19890673.txt
runs/detect/predict/labels/20371349.txt
runs/detect/predict/labels/20464332.txt
runs/detect/predict/labels/20674119.txt
runs/detect/predict/labels/21287284.txt
runs/detect/predict/labels/21562140.txt
runs/detect/predict/labels/21628245.txt
runs/detect/predict/labels/22642018.txt
runs/detect/predict/labels/23666425.txt
runs/detect/predict/labels/23849952.txt
runs/detect/predict/labels/24514941.txt
runs/detect/predict/labels/24904262.txt
runs/detect/predict/labels/24979880.txt
runs/detect/predict/labels/25239567.txt
runs/detect/predict/labels/25240897.txt
runs/detect/predict/labels/25280673.txt
runs/detect/predict/labels/25524175.txt
runs/detect/predict/labels/25555533.txt
runs/detect/predict/labels/25684914.txt
runs/detect/predict/labels/26080969.txt
runs/detect/predict/labels/26225354.txt
runs/detect/predict/labels/26266768.txt
runs/detect/predict/labels/26563860.txt
runs/detect/predict/labels/26710226.txt
runs/detect/predict/labels/26921075.txt
runs/detect/predict/labels/27209824.txt
runs/detect/predict/labels/27224661.txt
runs/detect/predict/labels/27451412.txt
runs/detect/predict/labels/27673161.txt
runs/detect/predict/labels/27839573.txt
runs/detect/predict/labels/28010026.txt
runs/detect/predict/labels/28501420.txt
runs/detect/predict/labels/28630131.txt
runs/detect/predict/labels/29021441.txt
runs/detect/predict/labels/29609488.txt
runs/detect/predict/labels/29751987.txt
runs/detect/predict/labels/30061985.txt
runs/detect/predict/labels/30067295.txt
runs/detect/predict/labels/30877727.txt
runs/detect/predict/labels/31570983.txt
runs/detect/predict/labels/31762675.txt
runs/detect/predict/labels/31825957.txt
runs/detect/predict/labels/32068443.txt
runs/detect/predict/labels/32070197.txt
runs/detect/predict/labels/32457552.txt
runs/detect/predict/labels/33324601.txt
runs/detect/predict/labels/33750721.txt
runs/detect/predict/labels/33799474.txt
runs/detect/predict/labels/34043222.txt
runs/detect/predict/labels/34237796.txt
runs/detect/predict/labels/34743378.txt
runs/detect/predict/labels/34972347.txt
runs/detect/predict/labels/35398383.txt
runs/detect/predict/labels/35482112.txt
runs/detect/predict/labels/35547967.txt
runs/detect/predict/labels/35861034.txt
runs/detect/predict/labels/35861682.txt
runs/detect/predict/labels/36112001.txt
runs/detect/predict/labels/36157194.txt
runs/detect/predict/labels/36230856.txt
runs/detect/predict/labels/36345295.txt
runs/detect/predict/labels/37454949.txt
runs/detect/predict/labels/37874029.txt
runs/detect/predict/labels/37921218.txt
runs/detect/predict/labels/37991496.txt
runs/detect/predict/labels/38049803.txt
runs/detect/predict/labels/39152346.txt
runs/detect/predict/labels/39459313.txt
runs/detect/predict/labels/39584091.txt
runs/detect/predict/labels/39903262.txt
runs/detect/predict/labels/40193835.txt
runs/detect/predict/labels/41117210.txt
runs/detect/predict/labels/41249669.txt
runs/detect/predict/labels/41588174.txt
runs/detect/predict/labels/42185789.txt
runs/detect/predict/labels/42462928.txt
runs/detect/predict/labels/42478149.txt
runs/detect/predict/labels/42689111.txt
runs/detect/predict/labels/42885439.txt
runs/detect/predict/labels/43056140.txt
runs/detect/predict/labels/43061725.txt
runs/detect/predict/labels/43705534.txt
runs/detect/predict/labels/43858456.txt
runs/detect/predict/labels/44062421.txt
runs/detect/predict/labels/44364587.txt
runs/detect/predict/labels/44695050.txt
runs/detect/predict/labels/44828410.txt
runs/detect/predict/labels/44838958.txt
runs/detect/predict/labels/45379261.txt
runs/detect/predict/labels/45913023.txt
runs/detect/predict/labels/45971029.txt
runs/detect/predict/labels/46157088.txt
runs/detect/predict/labels/46399710.txt
runs/detect/predict/labels/47593397.txt
runs/detect/predict/labels/47754923.txt
runs/detect/predict/labels/48029493.txt
runs/detect/predict/labels/48423034.txt
runs/detect/predict/labels/48580203.txt
runs/detect/predict/labels/48720954.txt
runs/detect/predict/labels/48802608.txt
runs/detect/predict/labels/48859001.txt
runs/detect/predict/labels/49780130.txt
runs/detect/predict/labels/50320968.txt
runs/detect/predict/labels/50667907.txt
runs/detect/predict/labels/50669268.txt
runs/detect/predict/labels/51565992.txt
runs/detect/predict/labels/51774934.txt
runs/detect/predict/labels/51891768.txt
runs/detect/predict/labels/52476237.txt
runs/detect/predict/labels/52499139.txt
runs/detect/predict/labels/54403344.txt
runs/detect/predict/labels/54606102.txt
runs/detect/predict/labels/55088638.txt
runs/detect/predict/labels/55115509.txt
runs/detect/predict/labels/55134600.txt
runs/detect/predict/labels/55856851.txt
runs/detect/predict/labels/56381880.txt
runs/detect/predict/labels/56672664.txt
runs/detect/predict/labels/56791435.txt
runs/detect/predict/labels/57243272.txt
runs/detect/predict/labels/57314717.txt
runs/detect/predict/labels/57601477.txt
runs/detect/predict/labels/58558497.txt
runs/detect/predict/labels/58605770.txt
runs/detect/predict/labels/58895688.txt
runs/detect/predict/labels/59308112.txt
runs/detect/predict/labels/59409666.txt
runs/detect/predict/labels/59526882.txt
runs/detect/predict/labels/59649096.txt
runs/detect/predict/labels/59852154.txt
runs/detect/predict/labels/60037935.txt
runs/detect/predict/labels/60208799.txt
runs/detect/predict/labels/60281510.txt
runs/detect/predict/labels/60625997.txt
runs/detect/predict/labels/60886019.txt
runs/detect/predict/labels/61368136.txt
runs/detect/predict/labels/61905385.txt
runs/detect/predict/labels/62193147.txt
runs/detect/predict/labels/62426849.txt
runs/detect/predict/labels/63238569.txt
runs/detect/predict/labels/63516346.txt
runs/detect/predict/labels/63991786.txt
runs/detect/predict/labels/64147291.txt
runs/detect/predict/labels/64326991.txt
runs/detect/predict/labels/64539227.txt
runs/detect/predict/labels/64907575.txt
runs/detect/predict/labels/65360046.txt
runs/detect/predict/labels/65496758.txt
runs/detect/predict/labels/66088077.txt
runs/detect/predict/labels/66687993.txt
runs/detect/predict/labels/67254421.txt
runs/detect/predict/labels/67320849.txt
runs/detect/predict/labels/67553989.txt
runs/detect/predict/labels/67574630.txt
runs/detect/predict/labels/67627481.txt
runs/detect/predict/labels/67758210.txt
runs/detect/predict/labels/67798536.txt
runs/detect/predict/labels/67818251.txt
runs/detect/predict/labels/68002004.txt
runs/detect/predict/labels/68119220.txt
runs/detect/predict/labels/68570617.txt
runs/detect/predict/labels/68702093.txt
runs/detect/predict/labels/69229060.txt
runs/detect/predict/labels/69229401.txt
runs/detect/predict/labels/70867665.txt
runs/detect/predict/labels/71222141.txt
runs/detect/predict/labels/71384240.txt
runs/detect/predict/labels/71585777.txt
runs/detect/predict/labels/71701313.txt
runs/detect/predict/labels/71949197.txt
runs/detect/predict/labels/72372440.txt
runs/detect/predict/labels/72782019.txt
runs/detect/predict/labels/73199362.txt
runs/detect/predict/labels/73393695.txt
runs/detect/predict/labels/73630642.txt
runs/detect/predict/labels/73698469.txt
runs/detect/predict/labels/74823088.txt
runs/detect/predict/labels/74913549.txt
runs/detect/predict/labels/74951184.txt
runs/detect/predict/labels/74977140.txt
runs/detect/predict/labels/75303174.txt
runs/detect/predict/labels/75648276.txt
runs/detect/predict/labels/75697080.txt
runs/detect/predict/labels/75827414.txt
runs/detect/predict/labels/75829934.txt
runs/detect/predict/labels/75871136.txt
runs/detect/predict/labels/76034544.txt
runs/detect/predict/labels/76093028.txt
runs/detect/predict/labels/76224419.txt
runs/detect/predict/labels/76769684.txt
runs/detect/predict/labels/77041454.txt
runs/detect/predict/labels/77796562.txt
runs/detect/predict/labels/77894866.txt
runs/detect/predict/labels/78212969.txt
runs/detect/predict/labels/78313664.txt
runs/detect/predict/labels/78666586.txt
runs/detect/predict/labels/78709296.txt
runs/detect/predict/labels/78816469.txt
runs/detect/predict/labels/78831650.txt
runs/detect/predict/labels/79022214.txt
runs/detect/predict/labels/79353939.txt
runs/detect/predict/labels/79406886.txt
runs/detect/predict/labels/79453376.txt
runs/detect/predict/labels/80304699.txt
runs/detect/predict/labels/80458403.txt
runs/detect/predict/labels/80825860.txt
runs/detect/predict/labels/80893132.txt
runs/detect/predict/labels/81147362.txt
runs/detect/predict/labels/81386768.txt
runs/detect/predict/labels/82188284.txt
runs/detect/predict/labels/82218589.txt
runs/detect/predict/labels/82364766.txt
runs/detect/predict/labels/82505383.txt
runs/detect/predict/labels/82705342.txt
runs/detect/predict/labels/82986706.txt
runs/detect/predict/labels/83126690.txt
runs/detect/predict/labels/83557388.txt
runs/detect/predict/labels/83587051.txt
runs/detect/predict/labels/83718526.txt
runs/detect/predict/labels/84123117.txt
runs/detect/predict/labels/84438595.txt
runs/detect/predict/labels/84916207.txt
runs/detect/predict/labels/85048170.txt
runs/detect/predict/labels/85437854.txt
runs/detect/predict/labels/85860336.txt
runs/detect/predict/labels/86244019.txt
runs/detect/predict/labels/86423937.txt
runs/detect/predict/labels/86503377.txt
runs/detect/predict/labels/86641077.txt
runs/detect/predict/labels/86720401.txt
runs/detect/predict/labels/86784239.txt
runs/detect/predict/labels/86962895.txt
runs/detect/predict/labels/87168306.txt
runs/detect/predict/labels/87376949.txt
runs/detect/predict/labels/87393453.txt
runs/detect/predict/labels/87680297.txt
runs/detect/predict/labels/87697914.txt
runs/detect/predict/labels/87797186.txt
runs/detect/predict/labels/87812919.txt
runs/detect/predict/labels/87929212.txt
runs/detect/predict/labels/88067759.txt
runs/detect/predict/labels/88117451.txt
runs/detect/predict/labels/88173914.txt
runs/detect/predict/labels/88785467.txt
runs/detect/predict/labels/89528856.txt
runs/detect/predict/labels/90179718.txt
runs/detect/predict/labels/90265936.txt
runs/detect/predict/labels/91006126.txt
runs/detect/predict/labels/91297620.txt
runs/detect/predict/labels/91298610.txt
runs/detect/predict/labels/91618428.txt
runs/detect/predict/labels/92357062.txt
runs/detect/predict/labels/93042777.txt
runs/detect/predict/labels/93421826.txt
runs/detect/predict/labels/93497791.txt
runs/detect/predict/labels/94280291.txt
runs/detect/predict/labels/94330227.txt
runs/detect/predict/labels/94383291.txt
runs/detect/predict/labels/95326814.txt
runs/detect/predict/labels/95805219.txt
runs/detect/predict/labels/96151511.txt
runs/detect/predict/labels/96595358.txt
runs/detect/predict/labels/97003981.txt
runs/detect/predict/labels/97347840.txt
runs/detect/predict/labels/97492065.txt
runs/detect/predict/labels/97625960.txt
runs/detect/predict/labels/97738959.txt
runs/detect/predict/labels/98478671.txt
runs/detect/predict/labels/98845563.txt
runs/detect/predict/labels/99410978.txt
runs/detect/predict/labels/99612266.txt
runs/detect/predict/labels/99795300.txt
runs/detect/predict2/labels/14166140.txt
runs/detect/predict3/labels/14166140.txt
runs/detect/predict4/labels/14166140.txt
runs/detect/predict5/labels/14166140.txt
.gitignore
